<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <div class="container">
    <a class="nav-brand" routerLink="/">medium</a>
    <ul class="nav navbar-nav pull-xs-right">
      <li class="nav-item">
        <a routerLink="/" class="nav-link"> Home </a>
      </li>
      <ng-container *ngIf="isLoggedIn$ | async">
        <li class="nav-item">
          <a routerLink="/articles/new" class="nav-link">
            <i class="ion-componse"></i>
            &nbsp; New Articles
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/settings" class="nav-link">
            <i class="ion-gear-a"></i>
            &nbsp; Settings
          </a>
        </li>
        <li class="nav-item">
          <a
            [routerLink]="['/profiles', (currentUser$ | async).userId]"
            class="nav-link"
          >
            <img class="user-pic" [src]="(currentUser$ | async).userLogoUrl" />
            &nbsp; {{ (currentUser$ | async).username }}
          </a>
        </li>
      </ng-container>
      <ng-container *ngIf="isAnonymous$ | async">
        <li class="nav-item">
          <a routerLink="/login" class="nav-link"> Sign In </a>
        </li>
        <li class="nav-item">
          <a routerLink="/register" class="nav-link"> Sign Up </a>
        </li>
      </ng-container>
    </ul>
  </div>
</nav>
